name: 游 Deploy NestJS Blog Backend API to VPS

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Install SSH dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y openssh-client

    - name: Setup SSH key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.VPS_KEY }}" > ~/.ssh/deploy_key
        chmod 600 ~/.ssh/deploy_key
        
        # Add host key verification bypass
        echo "StrictHostKeyChecking no" > ~/.ssh/config
        chmod 600 ~/.ssh/config
        
        # Verify the key fingerprint
        KEY_FINGERPRINT=$(ssh-keygen -lf ~/.ssh/deploy_key | awk '{print $2}')
        echo "Deploy key fingerprint: $KEY_FINGERPRINT"

    - name: Copy project to VPS
      uses: appleboy/scp-action@v0.1.3
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key_path: ~/.ssh/deploy_key
        passphrase: ${{ secrets.VPS_KEY_PASSPHRASE }}
        source: "."
        target: "/root/ayala_jimmy/ecommerce-backend"

    - name: Run deploy commands on VPS
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key_path: ~/.ssh/github_deploy
        passphrase: ${{ secrets.VPS_KEY_PASSPHRASE }}
        script: |
          cd /root/ayala_jimmy/ecommerce-backend
          # Matar el proceso que est치 usando el puerto 3030
          echo "Matar proceso en el puerto 3030..."
          sudo lsof -t -i:3030 | xargs sudo kill -9 || echo "No process running on port 3030"
         
          # Aseg칰rate de que el archivo .env se copie correctamente
          echo -e "${{ secrets.ENV_FILE }}" > .env
         
          # Instalar dependencias, construir y reiniciar la aplicaci칩n
          npm install
          npm run build
         
          # Reiniciar PM2 con el nuevo c칩digo
          pm2 stop nestjs-blog-backend || true  # Detener el proceso si est치 en ejecuci칩n
          pm2 delete nestjs-blog-backend || true  # Eliminar el proceso si ya est치 activo
          pm2 start dist/main.js --name nestjs-blog-backend  # Iniciar el proceso desde el archivo compilado


