name: 游 Deploy NestJS Blog Backend API to VPS

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Copy project to VPS
      uses: appleboy/scp-action@v0.1.3
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_KEY }}
        port: 22
        timeout: 60s
        command_timeout: 15m
        source: "."
        target: "/root/ayala_jimmy/finalproject"

    - name: Run deploy commands on VPS
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_KEY }}
        debug: true
        script: |
          cd /root/ayala_jimmy/finalproject
          # Matar el proceso que est치 usando el puerto 3030
          echo "Matar proceso en el puerto 3030..."
          sudo lsof -t -i:3030 | xargs sudo kill -9  # Mata el proceso que usa el puerto 3030
         
          # Aseg칰rate de que el archivo .env se copie correctamente
          echo -e "${{ secrets.ENV_FILE }}" > .env
         
          # Instalar dependencias, construir y reiniciar la aplicaci칩n
          npm install
          npm run build
         
          # Reiniciar PM2 con el nuevo c칩digo
          pm2 stop ecommerce-backend-api || true  # Detener el proceso si est치 en ejecuci칩n
          pm2 delete ecommerce-backend-api || true  # Eliminar el proceso si ya est치 activo
          pm2 start dist/main.js --name ecommerce-backend-api  # Iniciar el proceso desde el archivo compilado


